* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Calibri, Arial;
}

body {
    background-color: #151320;
}

#topo {
    text-align: left;
    color: white;
    height: 44px;
    background-color: #22212C;
    border-color: white;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 10px;
}

header>section {
    float: left;

    width: 10%;
    height: 80%;
    margin: 10px;
}

header>nav {
    float: right;

    width: 40%;
    height: 20%;
    margin: 10px;
}

header,
section,
.nav,
footer {
    background-color: #2B2640;
    border: 1px solid white;
    border-radius: 6px;
}

/* header */

header {
    width: 1416px;
    height: 185px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #2B2640;
}

nav {
    width: 90%;
    height: 70px;
    margin: 0 auto;
}

main {
    margin: 15px auto;

    width: 90%;
    height: 600px;
}

nav>section {
    width: 49%;
    height: 100%;
    border: 1px solid white;
}

nav>#left {
    float: left;
}

nav>#right {
    float: right;
}


#aside1,
#aside2 {
    background-color: #2B2640;
    width: 300px;
    height: 100%;
    border: 1px solid white;
    border-radius: 6px;
}


#aside1 {
    float: left;
}

#aside1>* {
    width: 275px;
    height: 45%;
    border: 1px solid white;
    border-radius: 6px;
    margin: 12px;
}

#aside2 {
    float: right
}

main>article {
    background-color: #2B2640;
    width: 788px;
    height: 100%;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0px auto;
    margin-left: 15px;

    float: left;
}

#sectionP1 {
    width: 48%;
    height: 140px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
}

#sectionP2 {
    width: 48%;
    height: 140px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
}

#sectionP3 {
    width: 97%;
    height: 245px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 12px;
    float: right;
}

#sectionP4 {
    width: 48%;
    height: 135px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
}

#sectionP5 {
    width: 48%;
    height: 135px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
}

/* Botao */

button {
    align-items: center;
    font-size: 15px;
    background: #8AFF80;
    color: #fff;
    border: 3px solid white;
    border-radius: 2px;
    padding: 10px;
    margin: 0px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
}

button::after {
    content: "";
    background: #FF9580;
    position: absolute;
    z-index: -1;
    padding: 0px;
    border-radius: 0px;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}

button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
}

/* Botao */


footer {
    width: 1416px;
    height: 100px;
    margin: 15px auto;
}